@charset "UTF-8";
/* --- reset --- */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, div {
  word-break: break-all;
}

a {
  text-decoration: none;
}

input[type=text], select {
  border-radius: 3px;
  border: none;
  padding: 6px;
  font-size: inheirt;
  box-sizing: border-box;
}

input::placeholder {
  color: #B5B5B5;
  font-size: 12px;
}

pre {
  white-space: pre-wrap;
}

.clearfix {
  display: block;
}

.clearfix::before {
  content: "";
  display: block;
  clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.bx-wrapper {
  box-shadow: none !important;
}

.bx-controls-direction a {
  z-index: 0 !important;
}

* {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #512812;
  letter-spacing: 1.4px;
  line-height: 23.1px;
}

html, body {
  width: 100vw;
}

.ukonOrg_fv_sp, .ukonOrg_fv_pc, main, section, footer {
  width: 100%;
}

a {
  width: 100%;
  height: 100%;
  color: #512812;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  * {
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 26.4px;
  }
}
header, footer, aside {
  font-size: 14px;
}

header p, header li, header a, footer p, footer a, footer span, .copyright {
  color: #333333;
  letter-spacing: 0;
}

.header.fix {
  padding: 0 0;
}

section.sp-side-section, .search {
  width: 75%;
}

.search-area label, .search-area li, p.accordion {
  color: #FFFFFF;
}

.search-btn {
  width: 92.5%;
}

a:hover {
  opacity: 1;
}

body {
  /* フェードイン */
  /* スライドイン */
  /* スライドイン(左)_sp */
  /* スライドイン(右)_sp */
  /* スライドイン(左)_pc */
  /* スライドイン(右)_pc */
  /* スケールアップ_fv_sp */
  /* スケールアップ_fv_pc */
  /* スケールアップ_card_sp */
  /* スケールアップ_card_pc */
  /* スケールアップ_cta */
}
body .ukonOrg_fade {
  opacity: 0;
}
body .ukonOrg_fadeIn {
  animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body .ukonOrg_slide {
  transform: translateY(50px);
  opacity: 0;
}
body .ukonOrg_slideIn {
  animation: slideIn 1s forwards;
}
@keyframes slideIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
body .ukonOrg_slideIn_left_sp {
  animation: slideIn_left_sp 0.5s forwards 0.5s;
}
@keyframes slideIn_left_sp {
  from {
    transform: translate(-100vw, -50%);
  }
  to {
    transform: translate(0, -50%);
  }
}
body .ukonOrg_slideIn_right_sp {
  animation: slideIn_right_sp 0.5s forwards 0.5s;
}
@keyframes slideIn_right_sp {
  from {
    transform: translate(100vw, -50%);
  }
  to {
    transform: translate(0, -50%);
  }
}
body .ukonOrg_slideIn_left_pc {
  animation: slideIn_left_pc 0.5s forwards 0.5s;
}
@keyframes slideIn_left_pc {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}
body .ukonOrg_slideIn_right_pc {
  animation: slideIn_right_pc 0.5s forwards 0.5s;
}
@keyframes slideIn_right_pc {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}
body .ukonOrg_scaleUp_fv_sp {
  animation: scaleUp_fv_sp 1s ease forwards alternate 1s;
  transform-origin: center;
}
@keyframes scaleUp_fv_sp {
  0% {
    transform: translate(-17.5%, 27.5%) rotate(7.5deg);
  }
  40% {
    transform: translate(-17.5%, 27.5%) rotate(7.5deg) scale(1.25, 1.25);
  }
  100% {
    transform: translate(-17.5%, 27.5%) rotate(7.5deg) scale(1, 1);
  }
}
body .ukonOrg_scaleUp_fv_pc {
  animation: scaleUp_fv_pc 1s ease forwards alternate 1s;
  transform-origin: center;
}
@keyframes scaleUp_fv_pc {
  0% {
    transform: translate(-25px, 75px) rotate(-7.5deg);
  }
  40% {
    transform: translate(-25px, 75px) rotate(-7.5deg) scale(1.25, 1.25);
  }
  100% {
    transform: translate(-25px, 75px) rotate(-7.5deg) scale(1, 1);
  }
}
body .ukonOrg_scale_card_sp {
  transform: rotate(-10deg);
}
body .ukonOrg_scaleUp_card_sp {
  animation: scaleUp_card_sp 1s ease forwards alternate;
  transform-origin: center;
}
@keyframes scaleUp_card_sp {
  0% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(-10deg) scale(1.25, 1.25);
  }
  100% {
    transform: rotate(-10deg) scale(1, 1);
  }
}
body .ukonOrg_scale_card_pc {
  transform: translate(-15px, 30px) rotate(-10deg);
}
body .ukonOrg_scaleUp_card_pc {
  animation: scaleUp_card_pc 1s ease forwards alternate;
  transform-origin: center;
}
@keyframes scaleUp_card_pc {
  0% {
    transform: translate(-15px, 30px) rotate(-10deg);
  }
  40% {
    transform: translate(-15px, 30px) rotate(-10deg) scale(1.25, 1.25);
  }
  100% {
    transform: translate(-15px, 30px) rotate(-10deg) scale(1, 1);
  }
}
body .ukonOrg_scaleUp_cta {
  animation: scaleUp_cta 1s ease forwards alternate;
  transform-origin: center;
}
@keyframes scaleUp_cta {
  40% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
body .ukonOrg_pc {
  display: none;
}
body .ukonOrg_header, body .ukonOrg_header_bk {
  width: 100vw;
  height: 97.5px;
}
body .ukonOrg_header {
  width: 100vw;
  height: 97.5px;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
body .ukonOrg_fv_sp {
  height: 550px;
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/03_onoeukon-kyettharhinspicy/img/bg2_fv_sp.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body .ukonOrg_fv_sp .ukonOrg_fv_con {
  width: 90%;
  height: 65%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}
body .ukonOrg_fv_sp .ukonOrg_fv_con .ukonOrg_fv_bubble {
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -87.5%);
  z-index: 1;
}
body .ukonOrg_fv_sp .ukonOrg_fv_con .ukonOrg_fv_bubble .ukonOrg_fv_bubble_img {
  object-fit: initial;
}
body .ukonOrg_fv_sp .ukonOrg_fv_con .ukonOrg_fv_bubble .ukonOrg_fv_pack {
  width: auto;
  height: 75px;
  box-shadow: rgba(51, 51, 51, 0.75) 1px 1px 7.5px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-17.5%, 27.5%) rotate(7.5deg);
  z-index: 2;
}
body .ukonOrg_fv_sp .ukonOrg_fv_con .ukonOrg_fv_curryUkon {
  border-radius: 40px 40px 0 0;
  position: absolute;
  top: 0;
  left: 0;
}
body .ukonOrg_fv_sp .ukonOrg_fv_con .ukonOrg_title1, body .ukonOrg_fv_sp .ukonOrg_fv_con .ukonOrg_title2 {
  height: fit-content;
  position: absolute;
  z-index: 1;
}
body .ukonOrg_fv_sp .ukonOrg_fv_con .ukonOrg_title1 {
  width: 155px;
  top: 0;
  left: 15px;
  transform: translate(-100vw, -50%);
}
body .ukonOrg_fv_sp .ukonOrg_fv_con .ukonOrg_title2 {
  width: 275px;
  top: 75px;
  right: 15px;
  transform: translate(100vw, -50%);
}
body .ukonOrg_fv_pc {
  display: none;
}
body .ukonOrg_main {
  padding-top: 75px;
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/03_onoeukon-kyettharhinspicy/img/bg1_sp.webp);
  position: relative;
}
body .ukonOrg_main .ukonOrg_biribiri {
  width: 100%;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0.25px, -24px);
  z-index: 1;
}
body .ukonOrg_main .ukonOrg_biribiri img {
  object-fit: initial;
}
body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_15aniv_con {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_15aniv_con .ukonOrg_15aniv-icon {
  width: 22.5%;
  transform: translateY(1.5px);
}
body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_15aniv_con h2 {
  margin-left: 15px;
  font-size: 21px;
  font-weight: 600;
  line-height: 21px;
}
body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_15aniv_con h2 span {
  margin-bottom: 7px;
  display: block;
  font-family: "ten-mincho-text", serif;
  font-size: 17.5px;
  line-height: 17.5px;
  line-height: 21px;
  transform: translateX(-10px);
}
body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_firePack {
  width: 85%;
  margin: 35px auto 0 auto;
}
body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta {
  width: 90vw;
  margin: 35px auto 0 auto;
}
body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta p {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta p span {
  display: block;
  width: 1px;
  height: 14px;
  background-color: #512812;
  position: absolute;
  top: 0;
}
body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta p span:nth-of-type(1) {
  left: -10px;
  transform: translateY(2.5px) rotate(-30deg);
}
body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta p span:nth-of-type(2) {
  right: -5px;
  transform: translateY(2.5px) rotate(30deg);
}
body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta .ukonOrg_button {
  width: 100%;
  position: relative;
}
body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta .ukonOrg_button::after {
  content: "";
  width: 100%;
  height: 100%;
  border: solid 1px rgba(81, 40, 18, 0.9);
  border-radius: 25px;
  background-color: rgba(81, 40, 18, 0.9);
  position: absolute;
  top: 2.5px;
  left: 0;
  z-index: 0;
}
body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta .ukonOrg_button a {
  width: 100%;
  border: solid 1px #512812;
  border-radius: 25px;
  background-color: #FFDF4A;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 14px;
  position: relative;
  z-index: 1;
}
body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta .ukonOrg_button a div {
  margin-left: 5px;
  position: relative;
  transform: translateY(1px);
}
body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta .ukonOrg_button a div div {
  width: 2px;
  height: 9px;
  background-color: #512812;
}
body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta .ukonOrg_button a div div:nth-of-type(1) {
  transform: translate(0, 17.5%) rotate(-45deg);
}
body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta .ukonOrg_button a div div:nth-of-type(2) {
  transform: translate(0, -17.5%) rotate(45deg);
}
body .ukonOrg_main .ukonOrg_curry_obi {
  margin-top: 100px;
}
body .ukonOrg_main .ukonOrg_3collabo {
  width: 90%;
  padding-bottom: 17.5px;
  margin: 100px auto 0 auto;
  border: solid 1px #512812;
  background-color: #FFFFFF;
}
body .ukonOrg_main .ukonOrg_3collabo h2 {
  width: 90%;
  border-radius: 25px;
  background-color: #512812;
  padding: 12px 0;
  margin: 17.5px auto 0 auto;
  font-size: 17.5px;
  line-height: 17.5px;
  color: #FFFFFF;
  text-align: center;
}
body .ukonOrg_main .ukonOrg_3collabo .ukonOrg_3collabo_icons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .ukonOrg_main .ukonOrg_3collabo .ukonOrg_3collabo_icons .ukonOrg_3collabo-icon {
  width: 75px;
}
body .ukonOrg_main .ukonOrg_3collabo .ukonOrg_3collabo_icons .ukonOrg_cross {
  margin: 0 15px;
  position: relative;
}
body .ukonOrg_main .ukonOrg_3collabo .ukonOrg_3collabo_icons .ukonOrg_cross div {
  width: 1px;
  height: 20px;
  background-color: #A40F18;
}
body .ukonOrg_main .ukonOrg_3collabo .ukonOrg_3collabo_icons .ukonOrg_cross div:nth-of-type(1) {
  transform: translateY(50%) rotate(45deg);
}
body .ukonOrg_main .ukonOrg_3collabo .ukonOrg_3collabo_icons .ukonOrg_cross div:nth-of-type(2) {
  transform: translateY(-50%) rotate(-45deg);
}
body .ukonOrg_main .ukonOrg_3collabo p {
  margin-top: 22.5px;
  text-align: center;
}
body .ukonOrg_main .ukonOrg_card {
  width: 90%;
  padding-bottom: 100px;
  margin: 100px auto 0 auto;
  position: relative;
}
body .ukonOrg_main .ukonOrg_card h2 {
  width: 50vw;
  transform: rotate(-10deg);
}
body .ukonOrg_main .ukonOrg_card .ukonOrg_card_p {
  margin-top: 10px;
  font-size: 21px;
  font-weight: 600;
  line-height: 21px;
  line-height: 34.65px;
  text-align: center;
}
body .ukonOrg_main .ukonOrg_card .ukonOrg_card_con {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body .ukonOrg_main .ukonOrg_card .ukonOrg_card_con .ukonOrg_card_con_card img {
  width: 40vw;
}
body .ukonOrg_main .ukonOrg_card .ukonOrg_card_con .ukonOrg_card_con_card:nth-of-type(1) {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .ukonOrg_main .ukonOrg_card .ukonOrg_card_con .ukonOrg_card_con_card:nth-of-type(2) {
  grid-column: 1;
  transform: translateY(-12.5px);
}
body .ukonOrg_main .ukonOrg_card .ukonOrg_card_con .ukonOrg_card_con_card:nth-of-type(3) {
  grid-column: 2;
  transform: translateY(-12.5px);
}
body .ukonOrg_main .ukonOrg_card p {
  font-size: 12px;
  line-height: 12px;
  line-height: 19.8px;
  text-align: center;
  transform: translateY(-10px);
}
body .ukonOrg_main .ukonOrg_card .ukonOrg_cta {
  margin-top: 50px;
}
body .ukonOrg_main .ukonOrg_card .ukonOrg_cta p {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
body .ukonOrg_main .ukonOrg_card .ukonOrg_cta p span {
  display: block;
  width: 1px;
  height: 14px;
  background-color: #512812;
  position: absolute;
  top: 0;
}
body .ukonOrg_main .ukonOrg_card .ukonOrg_cta p span:nth-of-type(1) {
  left: -10px;
  transform: translateY(2.5px) rotate(-30deg);
}
body .ukonOrg_main .ukonOrg_card .ukonOrg_cta p span:nth-of-type(2) {
  right: -5px;
  transform: translateY(2.5px) rotate(30deg);
}
body .ukonOrg_main .ukonOrg_card .ukonOrg_cta .ukonOrg_button {
  width: 100%;
  position: relative;
}
body .ukonOrg_main .ukonOrg_card .ukonOrg_cta .ukonOrg_button::after {
  content: "";
  width: 100%;
  height: 100%;
  border: solid 1px rgba(81, 40, 18, 0.9);
  border-radius: 25px;
  background-color: rgba(81, 40, 18, 0.9);
  position: absolute;
  top: 2.5px;
  left: 0;
  z-index: 0;
}
body .ukonOrg_main .ukonOrg_card .ukonOrg_cta .ukonOrg_button a {
  width: 100%;
  border: solid 1px #512812;
  border-radius: 25px;
  background-color: #FFDF4A;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 14px;
  position: relative;
  z-index: 1;
}
body .ukonOrg_main .ukonOrg_card .ukonOrg_cta .ukonOrg_button a div {
  margin-left: 5px;
  position: relative;
  transform: translateY(1px);
}
body .ukonOrg_main .ukonOrg_card .ukonOrg_cta .ukonOrg_button a div div {
  width: 2px;
  height: 9px;
  background-color: #512812;
}
body .ukonOrg_main .ukonOrg_card .ukonOrg_cta .ukonOrg_button a div div:nth-of-type(1) {
  transform: translate(0, 17.5%) rotate(-45deg);
}
body .ukonOrg_main .ukonOrg_card .ukonOrg_cta .ukonOrg_button a div div:nth-of-type(2) {
  transform: translate(0, -17.5%) rotate(45deg);
}
body .ukonOrg_main .ukonOrg_card .ukonOrg_cta p {
  font-size: 14px;
  line-height: 23.1px;
  transform: translate(7px, 0);
}
body .ukonOrg_main .ukonOrg_seasoning {
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/03_onoeukon-kyettharhinspicy/img/bg2_sp.svg);
  padding: 100px 0 125px 0;
  position: relative;
}
body .ukonOrg_main .ukonOrg_seasoning .ukonOrg_seasoning_biribiri {
  width: 100vw;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-0.25px, -1px) rotate(180deg);
  z-index: 1;
}
body .ukonOrg_main .ukonOrg_seasoning .ukonOrg_seasoning_biribiri img {
  object-fit: initial;
}
body .ukonOrg_main .ukonOrg_seasoning h2 {
  width: 75%;
  margin: 0 auto;
  font-size: 21px;
  font-weight: 600;
  line-height: 21px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 34.65px;
  text-align: center;
}
body .ukonOrg_main .ukonOrg_seasoning h2 .ukonOrg_gizagiza:nth-of-type(1) {
  margin-bottom: 5px;
}
body .ukonOrg_main .ukonOrg_seasoning h2 .ukonOrg_gizagiza:nth-of-type(2) {
  margin-top: 7.5px;
  transform: rotate(180deg);
}
body .ukonOrg_main .ukonOrg_seasoning article {
  width: 90%;
  margin: 75px auto 0 auto;
  border: solid 1px #512812;
  border-radius: 40px;
  background-color: #A40F18;
  position: relative;
}
body .ukonOrg_main .ukonOrg_seasoning article .ukonOrg_num {
  width: 25%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .ukonOrg_main .ukonOrg_seasoning article h3 {
  padding-top: 50px;
  font-size: 17.5px;
  line-height: 17.5px;
  font-weight: 500;
  color: #FFDF4A;
  text-align: center;
}
body .ukonOrg_main .ukonOrg_seasoning article h3 .ukonOrg_ruby {
  width: fit-content;
  font-size: 17.5px;
  line-height: 17.5px;
  color: #FFDF4A;
  position: relative;
  left: -12px;
}
body .ukonOrg_main .ukonOrg_seasoning article h3 .ukonOrg_ruby .ukonOrg_rt {
  font-size: 7px;
  line-height: 7px;
  color: #FFDF4A;
  letter-spacing: 0;
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .ukonOrg_main .ukonOrg_seasoning article .ukonOrg_gizagiza1 {
  width: 40%;
  margin: 22.5px auto 0 auto;
}
body .ukonOrg_main .ukonOrg_seasoning article p {
  width: 95%;
  margin: 12.5px auto 0 auto;
  color: #FFFFFF;
  transform: translateX(7px);
}
body .ukonOrg_main .ukonOrg_seasoning article .ukonOrg_seasoning_img {
  margin-top: 17.5px;
}
body .ukonOrg_main .ukonOrg_seasoning article .ukonOrg_seasoning_img img {
  height: auto;
  border-radius: 0 0 40px 40px;
}
body .ukonOrg_main .ukonOrg_seasoning article:nth-of-type(1) .ukonOrg_seasoning_img {
  transform: translateY(5.75px);
}
body .ukonOrg_main .ukonOrg_seasoning article:nth-of-type(2) {
  margin: 100px auto 0 auto;
}
body .ukonOrg_main .ukonOrg_seasoning article:nth-of-type(2) h3 {
  transform: translateX(10.5px);
}
body .ukonOrg_main .ukonOrg_seasoning article:nth-of-type(2) .ukonOrg_seasoning_img {
  transform: translateY(7.25px);
}
body .ukonOrg_main .ukonOrg_story {
  padding: 100px 0;
  position: relative;
}
body .ukonOrg_main .ukonOrg_story .ukonOrg_story_biribiri:nth-of-type(1) {
  width: 100vw;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0.25px, -24px);
  z-index: 1;
}
body .ukonOrg_main .ukonOrg_story .ukonOrg_story_biribiri:nth-of-type(1) img {
  object-fit: initial;
}
body .ukonOrg_main .ukonOrg_story h2 {
  width: 75%;
  margin: 0 auto;
  font-size: 21px;
  font-weight: 600;
  line-height: 21px;
  font-weight: 600;
  color: #1B6C29;
  line-height: 34.65px;
  text-align: center;
}
body .ukonOrg_main .ukonOrg_story h2 .ukonOrg_gizagiza2:nth-of-type(1) {
  margin-bottom: 5px;
}
body .ukonOrg_main .ukonOrg_story h2 .ukonOrg_gizagiza2:nth-of-type(2) {
  margin-top: 7.5px;
  transform: rotate(180deg);
}
body .ukonOrg_main .ukonOrg_story article {
  width: 90%;
  margin: 50px auto 0 auto;
}
body .ukonOrg_main .ukonOrg_story article h3 {
  font-size: 17.5px;
  line-height: 17.5px;
  font-weight: 600;
  line-height: 28.875px;
  text-align: center;
}
body .ukonOrg_main .ukonOrg_story article h3 span {
  display: block;
  width: 10%;
  margin: 5px auto 0 auto;
}
body .ukonOrg_main .ukonOrg_story article .ukonOrg_story_con {
  width: 100%;
}
body .ukonOrg_main .ukonOrg_story article p {
  width: 100%;
  margin-top: 12.5px;
  transform: translateX(7px);
}
body .ukonOrg_main .ukonOrg_story article:nth-of-type(2) {
  margin: 75px auto 0 auto;
}
body .ukonOrg_main .ukonOrg_story article:nth-of-type(2) .ukonOrg_story_con {
  margin-top: 25px;
}
body .ukonOrg_main .ukonOrg_story .ukonOrg_cta {
  margin: 75px auto 0 auto;
}
body .ukonOrg_main .ukonOrg_story .ukonOrg_cta p {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
body .ukonOrg_main .ukonOrg_story .ukonOrg_cta p span {
  display: block;
  width: 1px;
  height: 14px;
  background-color: #512812;
  position: absolute;
  top: 0;
}
body .ukonOrg_main .ukonOrg_story .ukonOrg_cta p span:nth-of-type(1) {
  left: -10px;
  transform: translateY(2.5px) rotate(-30deg);
}
body .ukonOrg_main .ukonOrg_story .ukonOrg_cta p span:nth-of-type(2) {
  right: -5px;
  transform: translateY(2.5px) rotate(30deg);
}
body .ukonOrg_main .ukonOrg_story .ukonOrg_cta .ukonOrg_button {
  width: 100%;
  position: relative;
}
body .ukonOrg_main .ukonOrg_story .ukonOrg_cta .ukonOrg_button::after {
  content: "";
  width: 100%;
  height: 100%;
  border: solid 1px rgba(81, 40, 18, 0.9);
  border-radius: 25px;
  background-color: rgba(81, 40, 18, 0.9);
  position: absolute;
  top: 2.5px;
  left: 0;
  z-index: 0;
}
body .ukonOrg_main .ukonOrg_story .ukonOrg_cta .ukonOrg_button a {
  width: 100%;
  border: solid 1px #512812;
  border-radius: 25px;
  background-color: #FFDF4A;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 14px;
  position: relative;
  z-index: 1;
}
body .ukonOrg_main .ukonOrg_story .ukonOrg_cta .ukonOrg_button a div {
  margin-left: 5px;
  position: relative;
  transform: translateY(1px);
}
body .ukonOrg_main .ukonOrg_story .ukonOrg_cta .ukonOrg_button a div div {
  width: 2px;
  height: 9px;
  background-color: #512812;
}
body .ukonOrg_main .ukonOrg_story .ukonOrg_cta .ukonOrg_button a div div:nth-of-type(1) {
  transform: translate(0, 17.5%) rotate(-45deg);
}
body .ukonOrg_main .ukonOrg_story .ukonOrg_cta .ukonOrg_button a div div:nth-of-type(2) {
  transform: translate(0, -17.5%) rotate(45deg);
}
body .ukonOrg_main .ukonOrg_story .ukonOrg_story_biribiri:nth-of-type(2) {
  width: 100vw;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-0.25px, 24px) rotate(180deg);
  z-index: 1;
}
body .ukonOrg_main .ukonOrg_story .ukonOrg_story_biribiri:nth-of-type(2) img {
  object-fit: initial;
}
body .ukonOrg_main .ukonOrg_check {
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/03_onoeukon-kyettharhinspicy/img/bg3_sp.svg);
  background-size: cover;
  background-position: center;
  padding: 75px 0;
}
body .ukonOrg_main .ukonOrg_check h2 {
  font-size: 21px;
  font-weight: 600;
  line-height: 21px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 34.65px;
  text-align: center;
}
body .ukonOrg_main .ukonOrg_check .ukonOrg_check_images {
  width: 90%;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body .ukonOrg_main .ukonOrg_check .ukonOrg_check_images div {
  width: calc(33.3% - 12.5px);
  margin-left: 12.5px;
}
body .ukonOrg_main .ukonOrg_check .ukonOrg_check_images div img {
  height: auto;
}
body .ukonOrg_main .ukonOrg_check .ukonOrg_check_images div:nth-of-type(1), body .ukonOrg_main .ukonOrg_check .ukonOrg_check_images div:nth-of-type(4) {
  margin-left: 0;
}
body .ukonOrg_main .ukonOrg_check .ukonOrg_cta {
  width: 90%;
  margin: 50px auto 0 auto;
}
body .ukonOrg_main .ukonOrg_check .ukonOrg_cta p {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
body .ukonOrg_main .ukonOrg_check .ukonOrg_cta p span {
  display: block;
  width: 1px;
  height: 14px;
  background-color: #512812;
  position: absolute;
  top: 0;
}
body .ukonOrg_main .ukonOrg_check .ukonOrg_cta p span:nth-of-type(1) {
  left: -10px;
  transform: translateY(2.5px) rotate(-30deg);
}
body .ukonOrg_main .ukonOrg_check .ukonOrg_cta p span:nth-of-type(2) {
  right: -5px;
  transform: translateY(2.5px) rotate(30deg);
}
body .ukonOrg_main .ukonOrg_check .ukonOrg_cta .ukonOrg_button {
  width: 100%;
  position: relative;
}
body .ukonOrg_main .ukonOrg_check .ukonOrg_cta .ukonOrg_button::after {
  content: "";
  width: 100%;
  height: 100%;
  border: solid 1px rgba(81, 40, 18, 0.9);
  border-radius: 25px;
  background-color: rgba(81, 40, 18, 0.9);
  position: absolute;
  top: 2.5px;
  left: 0;
  z-index: 0;
}
body .ukonOrg_main .ukonOrg_check .ukonOrg_cta .ukonOrg_button a {
  width: 100%;
  border: solid 1px #512812;
  border-radius: 25px;
  background-color: #FFDF4A;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 14px;
  position: relative;
  z-index: 1;
}
body .ukonOrg_main .ukonOrg_check .ukonOrg_cta .ukonOrg_button a div {
  margin-left: 5px;
  position: relative;
  transform: translateY(1px);
}
body .ukonOrg_main .ukonOrg_check .ukonOrg_cta .ukonOrg_button a div div {
  width: 2px;
  height: 9px;
  background-color: #512812;
}
body .ukonOrg_main .ukonOrg_check .ukonOrg_cta .ukonOrg_button a div div:nth-of-type(1) {
  transform: translate(0, 17.5%) rotate(-45deg);
}
body .ukonOrg_main .ukonOrg_check .ukonOrg_cta .ukonOrg_button a div div:nth-of-type(2) {
  transform: translate(0, -17.5%) rotate(45deg);
}
body footer {
  height: calc(100vh - 75px);
  background-color: #E6E6E6;
}

@media screen and (min-width: 768px) {
  .ukonOrg_sp {
    display: none;
  }
  .ukonOrg_pc {
    display: block;
  }
  body .ukonOrg_header, body .ukonOrg_header_bk {
    display: none;
    height: 147.5px;
  }
  body .ukonOrg_fv_sp {
    display: none;
  }
  body .ukonOrg_fv_pc {
    display: block;
    height: 525px;
    background-image: url(https://gigaplus.makeshop.jp/kitanoace/03_onoeukon-kyettharhinspicy/img/bg2_fv_pc.svg);
    background-size: cover;
    background-position: center;
    margin-top: 147.5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
  body .ukonOrg_fv_pc .ukonOrg_fv_con {
    display: flex;
    justify-content: center;
    align-items: end;
    transform: translateX(25px);
  }
  body .ukonOrg_fv_pc .ukonOrg_fv_con .ukonOrg_fv_con_img {
    width: 57.5vw;
    height: 385px;
    border-radius: 60px 60px 0 0;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  body .ukonOrg_fv_pc .ukonOrg_fv_con .ukonOrg_fv_con_img .ukonOrg_fv_con_bgImg {
    border-radius: 60px 60px 0 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  body .ukonOrg_fv_pc .ukonOrg_fv_con .ukonOrg_fv_con_img .ukonOrg_fv_title {
    transform: translateY(-7.5vh);
  }
  body .ukonOrg_fv_pc .ukonOrg_fv_con .ukonOrg_fv_con_img .ukonOrg_fv_title .ukonOrg_fv_title1, body .ukonOrg_fv_pc .ukonOrg_fv_con .ukonOrg_fv_con_img .ukonOrg_fv_title .ukonOrg_fv_title2 {
    width: auto;
    position: relative;
  }
  body .ukonOrg_fv_pc .ukonOrg_fv_con .ukonOrg_fv_con_img .ukonOrg_fv_title .ukonOrg_fv_title1 {
    height: 125px;
    margin-left: 21px;
    transform: translateX(-100vw);
  }
  body .ukonOrg_fv_pc .ukonOrg_fv_con .ukonOrg_fv_con_img .ukonOrg_fv_title .ukonOrg_fv_title2 {
    height: 82.5px;
    margin: 7.5px 0 0 100px;
    transform: translateX(100vw);
  }
  body .ukonOrg_fv_pc .ukonOrg_fv_con .ukonOrg_fv_con_img .ukonOrg_fv_pake {
    height: 125px;
    transform: translate(-25px, 75px) rotate(-7.5deg);
    z-index: 2;
  }
  body .ukonOrg_fv_pc .ukonOrg_fv_con .ukonOrg_fv_con_img .ukonOrg_fv_pake img {
    width: auto;
  }
  body .ukonOrg_fv_pc .ukonOrg_fv_con .ukonOrg_fv_con_img .ukonOrg_fv_bubble {
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -40%);
    z-index: 0;
  }
  body .ukonOrg_fv_pc .ukonOrg_fv_con .ukonOrg_fv_con_img .ukonOrg_fv_bubble img {
    width: auto;
  }
  body .ukonOrg_fv_pc .ukonOrg_fv_con .ukonOrg_fv_ukon {
    height: 60vh;
    margin-left: 12.5px;
    z-index: 1;
  }
  body .ukonOrg_fv_pc .ukonOrg_fv_con .ukonOrg_fv_ukon img {
    width: auto;
  }
  body .ukonOrg_main {
    padding-top: 100px;
    background-image: url(https://gigaplus.makeshop.jp/kitanoace/03_onoeukon-kyettharhinspicy/img/bg1_pc.webp);
  }
  body .ukonOrg_main .ukonOrg_biribiri {
    transform: translate(-0.25px, -24px);
  }
  body .ukonOrg_main .ukonOrg_biribiri img {
    object-fit: initial;
  }
  body .ukonOrg_main .ukonOrg_pc {
    display: block;
  }
  body .ukonOrg_main .ukonOrg_15aniv {
    width: 1000px;
    margin: 0 auto;
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_15aniv_flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_15aniv_flex .ukonOrg_15aniv_con {
    margin: 0 0;
    flex-direction: column;
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_15aniv_flex .ukonOrg_15aniv_con .ukonOrg_15aniv-icon {
    width: 40%;
    transform: translateY(0);
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_15aniv_flex .ukonOrg_15aniv_con h2 {
    margin-top: 25px;
    margin-left: 0;
    font-size: 48px;
    line-height: 48px;
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_15aniv_flex .ukonOrg_15aniv_con h2 span {
    font-size: 20px;
    line-height: 20px;
    line-height: 24px;
    transform: translateX(0);
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_15aniv_flex .ukonOrg_firePack {
    width: 50%;
    margin: 0 0 0 0;
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta {
    width: 100%;
    margin-top: 75px;
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta:hover .ukonOrg_button {
    transform: translateY(2.5px);
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta:hover .ukonOrg_button::after {
    transform: translateY(-2.5px);
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta p {
    transform: translateX(0);
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta p span {
    height: 16px;
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta p span:nth-of-type(1) {
    left: -12.5px;
    transform: translateY(5px) rotate(-30deg);
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta p span:nth-of-type(2) {
    right: -7.5px;
    transform: translateY(5px) rotate(30deg);
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta .ukonOrg_button {
    width: 90%;
    margin: 0 auto;
    transition-duration: 0.1s;
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta .ukonOrg_button::after {
    border-radius: 50px;
    transition-duration: 0.1s;
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta .ukonOrg_button a {
    border-radius: 50px;
    padding: 20px 0;
    font-size: 20px;
    line-height: 20px;
    line-height: 20px;
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta .ukonOrg_button a div {
    margin-left: 7.5px;
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta .ukonOrg_button a div div {
    height: 12px;
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta .ukonOrg_button a div div:nth-of-type(1) {
    transform: translate(0, 17.5%) rotate(-45deg);
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta .ukonOrg_button a div div:nth-of-type(2) {
    transform: translate(0, -17.5%) rotate(45deg);
  }
  body .ukonOrg_main .ukonOrg_15aniv .ukonOrg_cta p {
    transform: translateY(-7px);
  }
  body .ukonOrg_main .ukonOrg_curry_obi {
    margin-top: 150px;
  }
  body .ukonOrg_main .ukonOrg_3collabo {
    width: 1000px;
    padding-bottom: 40px;
  }
  body .ukonOrg_main .ukonOrg_3collabo h2 {
    width: 90%;
    border-radius: 30px;
    padding: 16px 0;
    margin: 30px auto 0 auto;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    font-weight: 500;
  }
  body .ukonOrg_main .ukonOrg_3collabo .ukonOrg_3collabo_icons .ukonOrg_3collabo-icon {
    width: 125px;
  }
  body .ukonOrg_main .ukonOrg_3collabo .ukonOrg_3collabo_icons .ukonOrg_cross {
    margin: 0 35px;
  }
  body .ukonOrg_main .ukonOrg_3collabo .ukonOrg_3collabo_icons .ukonOrg_cross div {
    width: 1px;
    height: 35px;
  }
  body .ukonOrg_main .ukonOrg_3collabo p {
    margin-top: 30px;
  }
  body .ukonOrg_main .ukonOrg_card {
    width: 1000px;
    padding-bottom: 150px;
    margin: 150px auto 0 auto;
  }
  body .ukonOrg_main .ukonOrg_card h2 {
    width: 25vw;
    transform: translate(-15px, 30px) rotate(-10deg);
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_card_p {
    margin-top: 10px;
    font-size: 48px;
    line-height: 79.2px;
    text-align: center;
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_card_con {
    width: 95%;
    margin: 25px auto 0 auto;
    display: flex;
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_card_con .ukonOrg_card_con_card {
    width: calc(33.3% - 2.5px);
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_card_con .ukonOrg_card_con_card img {
    width: 100%;
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_card_con .ukonOrg_card_con_card:nth-of-type(2) {
    transform: translateY(0);
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_card_con .ukonOrg_card_con_card:nth-of-type(3) {
    transform: translateY(0);
  }
  body .ukonOrg_main .ukonOrg_card p {
    font-size: 16px;
    line-height: 26.4px;
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_cta {
    margin-top: 75px;
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_cta:hover .ukonOrg_button {
    transform: translateY(2.5px);
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_cta:hover .ukonOrg_button::after {
    transform: translateY(-2.5px);
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_cta p {
    transform: translateX(0);
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_cta p span {
    height: 16px;
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_cta p span:nth-of-type(1) {
    left: -12.5px;
    transform: translateY(5px) rotate(-30deg);
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_cta p span:nth-of-type(2) {
    right: -7.5px;
    transform: translateY(5px) rotate(30deg);
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_cta .ukonOrg_button {
    width: 90%;
    margin: 0 auto;
    transition-duration: 0.1s;
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_cta .ukonOrg_button::after {
    border-radius: 50px;
    transition-duration: 0.1s;
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_cta .ukonOrg_button a {
    border-radius: 50px;
    padding: 20px 0;
    font-size: 20px;
    line-height: 20px;
    line-height: 20px;
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_cta .ukonOrg_button a div {
    margin-left: 7.5px;
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_cta .ukonOrg_button a div div {
    height: 12px;
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_cta .ukonOrg_button a div div:nth-of-type(1) {
    transform: translate(0, 17.5%) rotate(-45deg);
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_cta .ukonOrg_button a div div:nth-of-type(2) {
    transform: translate(0, -17.5%) rotate(45deg);
  }
  body .ukonOrg_main .ukonOrg_card .ukonOrg_cta p {
    font-size: 16px;
    line-height: 26.4px;
    transform: translateY(-7px);
  }
  body .ukonOrg_main .ukonOrg_seasoning {
    background-image: url(https://gigaplus.makeshop.jp/kitanoace/03_onoeukon-kyettharhinspicy/img/bg2_pc.svg);
    padding: 150px 0 175px 0;
  }
  body .ukonOrg_main .ukonOrg_seasoning .ukonOrg_seasoning_biribiri {
    transform: translate(0.25px, -1px) rotate(180deg);
  }
  body .ukonOrg_main .ukonOrg_seasoning .ukonOrg_seasoning_biribiri img {
    object-fit: initial;
  }
  body .ukonOrg_main .ukonOrg_seasoning h2 {
    font-size: 48px;
    line-height: 79.2px;
  }
  body .ukonOrg_main .ukonOrg_seasoning h2 .ukonOrg_gizagiza {
    width: 75%;
  }
  body .ukonOrg_main .ukonOrg_seasoning h2 .ukonOrg_gizagiza:nth-of-type(1) {
    margin: 0 auto 10px auto;
  }
  body .ukonOrg_main .ukonOrg_seasoning h2 .ukonOrg_gizagiza:nth-of-type(2) {
    margin: 15px auto 0 auto;
    transform: rotate(180deg);
  }
  body .ukonOrg_main .ukonOrg_seasoning article {
    width: 1000px;
    border-radius: 60px;
    margin: 100px auto 0 auto;
  }
  body .ukonOrg_main .ukonOrg_seasoning article .ukonOrg_num {
    width: 10%;
  }
  body .ukonOrg_main .ukonOrg_seasoning article h3 {
    margin-top: 12.5px;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    font-weight: 500;
  }
  body .ukonOrg_main .ukonOrg_seasoning article h3 ruby {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    left: -17.5px;
  }
  body .ukonOrg_main .ukonOrg_seasoning article h3 ruby rt {
    font-size: 12px;
    line-height: 12px;
  }
  body .ukonOrg_main .ukonOrg_seasoning article h3 .ukonOrg_ruby {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    left: -17.5px;
  }
  body .ukonOrg_main .ukonOrg_seasoning article h3 .ukonOrg_ruby .ukonOrg_rt {
    font-size: 12px;
    line-height: 12px;
  }
  body .ukonOrg_main .ukonOrg_seasoning article .ukonOrg_gizagiza1 {
    width: 15%;
    margin: 32.5px auto 0 auto;
  }
  body .ukonOrg_main .ukonOrg_seasoning article p {
    margin: 25px auto 0 auto;
  }
  body .ukonOrg_main .ukonOrg_seasoning article .ukonOrg_seasoning_img {
    height: 400px;
    margin-top: 25px;
  }
  body .ukonOrg_main .ukonOrg_seasoning article .ukonOrg_seasoning_img img {
    height: 100%;
    border-radius: 0 0 60px 60px;
  }
  body .ukonOrg_main .ukonOrg_story {
    padding: 150px 0 175px 0;
  }
  body .ukonOrg_main .ukonOrg_story .ukonOrg_story_biribiri:nth-of-type(1) {
    transform: translate(-0.25px, -24px);
  }
  body .ukonOrg_main .ukonOrg_story .ukonOrg_story_biribiri:nth-of-type(1) img {
    object-fit: initial;
  }
  body .ukonOrg_main .ukonOrg_story h2 {
    font-size: 48px;
    line-height: 79.2px;
  }
  body .ukonOrg_main .ukonOrg_story h2 .ukonOrg_gizagiza2 {
    width: 75%;
  }
  body .ukonOrg_main .ukonOrg_story h2 .ukonOrg_gizagiza2:nth-of-type(1) {
    margin: 0 auto 10px auto;
  }
  body .ukonOrg_main .ukonOrg_story h2 .ukonOrg_gizagiza2:nth-of-type(2) {
    margin: 15px auto 0 auto;
    transform: rotate(180deg);
  }
  body .ukonOrg_main .ukonOrg_story article {
    width: 1000px;
    margin: 75px auto 0 auto;
  }
  body .ukonOrg_main .ukonOrg_story article h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    line-height: 32px;
  }
  body .ukonOrg_main .ukonOrg_story article h3 span {
    width: 3.5%;
    margin: 25px auto 0 auto;
  }
  body .ukonOrg_main .ukonOrg_story article .ukonOrg_story_flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .ukonOrg_main .ukonOrg_story article .ukonOrg_story_flex .ukonOrg_story_con {
    width: 50%;
  }
  body .ukonOrg_main .ukonOrg_story article .ukonOrg_story_flex p {
    width: 50%;
    padding-left: 25px;
  }
  body .ukonOrg_main .ukonOrg_story article:nth-of-type(2) {
    margin: 100px auto 0 auto;
  }
  body .ukonOrg_main .ukonOrg_story article:nth-of-type(2) .ukonOrg_story_con {
    margin-top: 25px;
  }
  body .ukonOrg_main .ukonOrg_story .ukonOrg_cta {
    margin: 100px auto 0 auto;
  }
  body .ukonOrg_main .ukonOrg_story .ukonOrg_cta:hover .ukonOrg_button {
    transform: translateY(2.5px);
  }
  body .ukonOrg_main .ukonOrg_story .ukonOrg_cta:hover .ukonOrg_button::after {
    transform: translateY(-2.5px);
  }
  body .ukonOrg_main .ukonOrg_story .ukonOrg_cta p {
    transform: translateX(0);
  }
  body .ukonOrg_main .ukonOrg_story .ukonOrg_cta p span {
    height: 16px;
  }
  body .ukonOrg_main .ukonOrg_story .ukonOrg_cta p span:nth-of-type(1) {
    left: -12.5px;
    transform: translateY(5px) rotate(-30deg);
  }
  body .ukonOrg_main .ukonOrg_story .ukonOrg_cta p span:nth-of-type(2) {
    right: -7.5px;
    transform: translateY(5px) rotate(30deg);
  }
  body .ukonOrg_main .ukonOrg_story .ukonOrg_cta .ukonOrg_button {
    width: 90%;
    margin: 0 auto;
    transition-duration: 0.1s;
  }
  body .ukonOrg_main .ukonOrg_story .ukonOrg_cta .ukonOrg_button::after {
    border-radius: 50px;
    transition-duration: 0.1s;
  }
  body .ukonOrg_main .ukonOrg_story .ukonOrg_cta .ukonOrg_button a {
    border-radius: 50px;
    padding: 20px 0;
    font-size: 20px;
    line-height: 20px;
    line-height: 20px;
  }
  body .ukonOrg_main .ukonOrg_story .ukonOrg_cta .ukonOrg_button a div {
    margin-left: 7.5px;
  }
  body .ukonOrg_main .ukonOrg_story .ukonOrg_cta .ukonOrg_button a div div {
    height: 12px;
  }
  body .ukonOrg_main .ukonOrg_story .ukonOrg_cta .ukonOrg_button a div div:nth-of-type(1) {
    transform: translate(0, 17.5%) rotate(-45deg);
  }
  body .ukonOrg_main .ukonOrg_story .ukonOrg_cta .ukonOrg_button a div div:nth-of-type(2) {
    transform: translate(0, -17.5%) rotate(45deg);
  }
  body .ukonOrg_main .ukonOrg_story .ukonOrg_cta .ukonOrg_button {
    margin-top: 7.5px;
  }
  body .ukonOrg_main .ukonOrg_story .ukonOrg_story_biribiri:nth-of-type(2) {
    transform: translate(0.25px, 24px) rotate(180deg);
  }
  body .ukonOrg_main .ukonOrg_story .ukonOrg_story_biribiri:nth-of-type(2) img {
    object-fit: initial;
  }
  body .ukonOrg_main .ukonOrg_check {
    background-image: url(https://gigaplus.makeshop.jp/kitanoace/03_onoeukon-kyettharhinspicy/img/bg3_pc.svg);
    padding: 150px 0 175px 0;
  }
  body .ukonOrg_main .ukonOrg_check h2 {
    font-size: 48px;
    line-height: 79.2px;
  }
  body .ukonOrg_main .ukonOrg_check .ukonOrg_check_images {
    width: 1000px;
    margin: 75px auto 0 auto;
    flex-wrap: nowrap;
  }
  body .ukonOrg_main .ukonOrg_check .ukonOrg_check_images div {
    width: calc(16.7% - 12.5px);
    margin-left: 12.5px;
  }
  body .ukonOrg_main .ukonOrg_check .ukonOrg_check_images div:nth-of-type(1), body .ukonOrg_main .ukonOrg_check .ukonOrg_check_images div:nth-of-type(4) {
    margin-left: 12.5px;
  }
  body .ukonOrg_main .ukonOrg_check .ukonOrg_cta {
    width: 1000px;
    margin: 75px auto 0 auto;
  }
  body .ukonOrg_main .ukonOrg_check .ukonOrg_cta:hover .ukonOrg_button {
    transform: translateY(2.5px);
  }
  body .ukonOrg_main .ukonOrg_check .ukonOrg_cta:hover .ukonOrg_button::after {
    transform: translateY(-2.5px);
  }
  body .ukonOrg_main .ukonOrg_check .ukonOrg_cta p {
    transform: translateX(0);
  }
  body .ukonOrg_main .ukonOrg_check .ukonOrg_cta p span {
    height: 16px;
  }
  body .ukonOrg_main .ukonOrg_check .ukonOrg_cta p span:nth-of-type(1) {
    left: -12.5px;
    transform: translateY(5px) rotate(-30deg);
  }
  body .ukonOrg_main .ukonOrg_check .ukonOrg_cta p span:nth-of-type(2) {
    right: -7.5px;
    transform: translateY(5px) rotate(30deg);
  }
  body .ukonOrg_main .ukonOrg_check .ukonOrg_cta .ukonOrg_button {
    width: 90%;
    margin: 0 auto;
    transition-duration: 0.1s;
  }
  body .ukonOrg_main .ukonOrg_check .ukonOrg_cta .ukonOrg_button::after {
    border-radius: 50px;
    transition-duration: 0.1s;
  }
  body .ukonOrg_main .ukonOrg_check .ukonOrg_cta .ukonOrg_button a {
    border-radius: 50px;
    padding: 20px 0;
    font-size: 20px;
    line-height: 20px;
    line-height: 20px;
  }
  body .ukonOrg_main .ukonOrg_check .ukonOrg_cta .ukonOrg_button a div {
    margin-left: 7.5px;
  }
  body .ukonOrg_main .ukonOrg_check .ukonOrg_cta .ukonOrg_button a div div {
    height: 12px;
  }
  body .ukonOrg_main .ukonOrg_check .ukonOrg_cta .ukonOrg_button a div div:nth-of-type(1) {
    transform: translate(0, 17.5%) rotate(-45deg);
  }
  body .ukonOrg_main .ukonOrg_check .ukonOrg_cta .ukonOrg_button a div div:nth-of-type(2) {
    transform: translate(0, -17.5%) rotate(45deg);
  }
  body footer {
    height: 30vh;
  }
}