@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

$black: #333333;
$black_a: rgba(51, 51, 51, .75);
$white: #FFFFFF;
$grey: #E6E6E6;
$brown: #512812;
$brown_a: rgba(81, 40, 18, .9);
$yellow: #FFDF4A;
$red: #A40F18;
$green: #1B6C29;

* {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $brown;
    letter-spacing: 1.4px;
    line-height: 23.1px;
}

html, body {
    width: 100vw;
    overflow-x: hidden;
}

.ukonOrg_fv_sp, .ukonOrg_fv_pc, main, section, footer {
    width: 100%;
}

.button {

}

a {
    width: 100%;
    height: 100%;
    color: $brown;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin bg {
    background-size: cover;
    background-position: center;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin absolute {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin font_ss {
    font-size: 10.5px;
    line-height: 10.5px;
}

@mixin font_s {
    font-size: 12px;
    line-height: 12px;
}

@mixin font_m {
    font-size: 14px;
    line-height: 14px;
}

@mixin font_l {
    font-size: 17.5px;
    line-height: 17.5px;
}

@mixin font_ll {
    font-size: 21px;
    font-weight: 600;
    line-height: 21px;
}

@mixin font_lll {
    font-size: 28px;
    line-height: 28px;
}

@mixin cta {

    p {
        width: fit-content;
        margin: 0 auto;
        position: relative;

        span {
            display: block;
            width: 1px;
            height: 14px;
            background-color: $brown;
            position: absolute;
            top: 0;
        }

        span:nth-of-type(1) {
            left: -10px;
            transform: translateY(2.5px) rotate(-30deg);
        }

        span:nth-of-type(2) {
            right: -5px;
            transform: translateY(2.5px) rotate(30deg);
        }
    }

    .ukonOrg_button {
        width: 100%;
        position: relative;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            border: solid 1px $brown_a;
            border-radius: 25px;
            background-color: $brown_a;
            position: absolute;
            top: 2.5px;
            left: 0;
            z-index: 0;
        }

        a {
            width: 100%;
            border: solid 1px $brown;
            border-radius: 25px;
            background-color: $yellow;
            padding: 14px 0;
            @include center;
            font-weight: bold;
            line-height: 14px;
            position: relative;
            z-index: 1;

            div {
                margin-left: 5px;
                position: relative;
                transform: translateY(1px);

                div {
                    width: 2px;
                    height: 9px;
                    background-color: $brown;
                }

                div:nth-of-type(1) {
                    transform: translate(0,17.5%) rotate(-45deg);
                }

                div:nth-of-type(2) {
                    transform: translate(0,-17.5%) rotate(45deg);
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    
    * {
        font-size: 16px;
        letter-spacing: 1.6px;
        line-height: 26.4px;
    }
}

@mixin font_ss_pc {
    font-size: 12px;
    line-height: 12px;
}

@mixin font_s {
    font-size: 12px;
    line-height: 12px;
}

@mixin font_l_pc {
    font-size: 20px;
    line-height: 20px;
}

@mixin font_ll_pc {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}

@mixin font_lll_pc {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
}

@mixin cta_pc {

    p {
        transform: translateX(0);
        
        span {
            height: 16px;
        }

        span:nth-of-type(1) {
            left: -12.5px;
            transform: translateY(5px) rotate(-30deg);
        }

        span:nth-of-type(2) {
            right: -7.5px;
            transform: translateY(5px) rotate(30deg);
        }
    }

    .ukonOrg_button {
        width: 90%;
        margin: 0 auto;

        &::after {
            border-radius: 50px;
        }

        a {
            border-radius: 50px;
            padding: 20px 0;
            @include font_l_pc;
            line-height: 20px;

            div {
                margin-left: 7.5px;

                div {
                    height: 12px;
                }

                div:nth-of-type(1) {
                    transform: translate(0,17.5%) rotate(-45deg);
                }

                div:nth-of-type(2) {
                    transform: translate(0,-17.5%) rotate(45deg);
                }
            }
        }
    }
}
