@import './reset';
@import './base';

body {

    .ukonOrg_header, .ukonOrg_header_bk {
        width: 100vw;
        height: 97.5px;
        
    }
    
    .ukonOrg_header {
        width: 100vw;
        height: 97.5px;
        background-color: $white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }
    
    .ukonOrg_fv {
        height: calc(95vh - 97.5px);
        background-image: url(../img/bg2_sp.svg);
        @include center;
        position: relative;

        .ukonOrg_fv_con {
            width: 90%;
            height: 60%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            z-index: 1;

            .ukonOrg_fv_bubble {
                width: 90%;
                position: absolute;
                left: 50%;
                transform: translate(-50%, -87.5%);
                z-index: 1;
    
                .ukonOrg_fv_bubble_img {
                    object-fit: initial;
                }
    
                .ukonOrg_fv_pake {
                    width: auto;
                    height: 35%;
                    box-shadow: $black_a 1px 1px 7.5px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: translate(0%, 15%) rotate(7.5deg);
                }
            }

            .ukonOrg_fv_curryUkon {
                border-radius: 40px 40px 0 0;
                @include absolute;
            }

            .ukonOrg_title1, .ukonOrg_title2 {
                height: fit-content;
                position: absolute;
                z-index: 2;
            }

            .ukonOrg_title1 {
                width: 45%;
                top: 0;
                left: 15px;
                transform: translateY(-50%);
            }
    
            .ukonOrg_title2 {
                width: 75%;
                top: 75px;
                right: 15px;
                transform: translateY(-65%);
            }    
        }
    }

    .ukonOrg_main {
        padding-top: 75px;
        background-image: url(../img/bg1_sp.webp);

        .ukonOrg_15aniv {

            .ukonOrg_15aniv_con {
                margin: 0 auto;
                @include center;

                .ukonOrg_15aniv-icon {
                    width: 20%;
                    transform: translateY(1.5px);
                }

                h2 {
                    margin-left: 15px;
                    @include font_ll;

                    span {
                        margin-bottom: 7px;
                        display: block;
                        font-family: "ten-mincho-text", serif;
                        @include font_l;
                        line-height: 21px;
                    }
                }
            }

            .ukonOrg_firePack {
                width: 85%;
                margin: 35px auto 0 auto;
            }
        }

        .ukonOrg_curry_obi {
            margin-top: 100px;
        }

        .ukonOrg_3collabo {
            width: 90%;
            padding-bottom: 17.5px;
            margin: 100px auto 0 auto;
            border: solid 1px $brown;
            background-color: $white;

            h2 {
                width: 90%;
                border-radius: 25px;
                background-color: $brown;
                padding: 12px 0;
                margin: 17.5px auto 0 auto;
                @include font_l;
                color: $white;
                text-align: center;
            }

            .ukonOrg_3collabo_icons {
                margin-top: 30px;
                @include center;

                .ukonOrg_3collabo-icon {
                    width: 75px;
                }

                .ukonOrg_cross {
                    margin: 0 15px;
                    position: relative;

                    div {
                        width: 1px;
                        height: 20px;
                        background-color: $red;
                    }

                    div:nth-of-type(1) {
                        transform: translateY(50%) rotate(45deg);
                    }

                    div:nth-of-type(2) {
                        transform: translateY(-50%) rotate(-45deg);
                    }
                }
            }

            p {
                margin-top: 22.5px;
                text-align: center;
            }
        }

        .ukonOrg_card {
            width: 90%;
            padding-bottom: 100px;
            margin: 100px auto 0 auto;

            h2 {
                width: 50vw;
                transform: rotate(-10deg)
            }

            .ukonOrg_card_p {
                margin-top: 10px;
                @include font_ll;
                line-height: 34.65px;
                text-align: center;
            }

            .ukonOrg_card_con {
                margin-top: 25px;
                display: grid;
                grid-template-columns: 1fr 1fr;

                .ukonOrg_card_con_card {

                    img {
                        width: 40vw;
                    }
                }

                .ukonOrg_card_con_card:nth-of-type(1) {
                    grid-column: 1 / -1;
                    @include center;
                }

                .ukonOrg_card_con_card:nth-of-type(2) {
                    grid-column: 1;
                    transform: translateY(-12.5px);
                }

                .ukonOrg_card_con_card:nth-of-type(3) {
                    grid-column: 2;
                    transform: translateY(-12.5px);
                }
            }

            p {
                @include font_s;
                line-height: 19.8px;
                text-align: center;
                transform: translateY(-10px);
            }
            .ukonOrg_cta {
                margin-top: 50px;

                p {
                    width: fit-content;
                    margin: 0 auto;
                    position: relative;

                    span {
                        display: block;
                        width: 1px;
                        height: 14px;
                        background-color: $brown;
                        position: absolute;
                        top: 0;
                    }

                    span:nth-of-type(1) {
                        left: -10px;
                        transform: translateY(2.5px) rotate(-30deg);
                    }

                    span:nth-of-type(2) {
                        right: -5px;
                        transform: translateY(2.5px) rotate(30deg);
                    }
                }

                .ukonOrg_button {
                    width: 100%;
                    position: relative;

                    &::after {
                        content: '';
                        width: 100%;
                        height: 100%;
                        border: solid 1px $brown_a;
                        border-radius: 25px;
                        background-color: $brown_a;
                        position: absolute;
                        top: 2.5px;
                        left: 0;
                        z-index: 0;
                    }

                    a {
                        width: 100%;
                        border: solid 1px $brown;
                        border-radius: 25px;
                        background-color: $yellow;
                        padding: 14px 0;
                        @include center;
                        font-weight: bold;
                        line-height: 14px;
                        position: relative;
                        z-index: 1;

                        div {
                            margin-left: 5px;
                            position: relative;
                            transform: translateY(1px);

                            div {
                                width: 2px;
                                height: 9px;
                                background-color: $brown;
                            }

                            div:nth-of-type(1) {
                                transform: translate(0,17.5%) rotate(-45deg);
                            }

                            div:nth-of-type(2) {
                                transform: translate(0,-17.5%) rotate(45deg);
                            }
                        }
                    }
                }
            }
        }

        .ukonOrg_seasoning {
            padding-top: 100px;
            background-image: url(../img/bg2_sp.svg);

            h2 {
                @include font_ll;
                font-weight: 400;
                color: $white;
                line-height: 34.65px;
                text-align: center;
            }

            article {
                width: 90%;
                margin: 75px auto 0 auto;
                border: solid 1px $brown;
                border-radius: 40px;
                background-color: $red;
                position: relative;

                .ukonOrg_num {
                    width: 25%;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                h3 {
                    padding-top: 50px;
                    @include font_l;
                    color: $yellow;
                    text-align: center; 
                }

                .ukonOrg_gizagiza {
                    width: 40%;
                    margin: 22.5px auto 0 auto;
                }

                p {
                    width: 90%;
                    margin: 12.5px auto 0 auto;
                    font-weight: 300;
                    color: $white;
                    transform: translateX(7px);
                }
            }
        }
    }

    footer {
        height: calc(100vh - 75px);
        background-color: $grey;
        margin-top: 75px;
    }
}
